li{
    height: 100px;

    .content{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

input{
    padding: 10px;
    width: 75%;
}

.description{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
}

i.fa{
    margin-left: 15px;
    margin-top: -3px;

    &:hover{
        cursor: pointer;
    }
}

.check{
    margin-right: 10px;
}