<div class="container">
    <ul class="list-group">
        <li *ngFor="let todo of todos" class="list-group-item">
            <div class="content">
                <input 
                    [(ngModel)]="todo.description"
                    type="text" 
                    *ngIf="todo.editMode" 
                    value="{{todo.description}}">
                <i (click)="completeTodo(todo)" 
                        class="fa fa-2x check" 
                        [class.fa-circle-thin]="!todo.completed" 
                        [class.fa-check-circle-o]="todo.completed" 
                        *ngIf="!todo.editMode"></i>
                <span class="description" *ngIf="!todo.editMode">{{todo.description}}</span>
                <div class="pull-right">
                    <i 
                        class="fa fa-pencil fa-2x" 
                        (click)="editMode(todo)" 
                        *ngIf="!todo.editMode"></i>
                    <i 
                        class="fa fa-check fa-2x" 
                        *ngIf="todo.editMode" 
                        (click)="updateTodo(todo)"></i>
                    <i 
                        class="fa fa-close fa-2x" 
                        *ngIf="!todo.editMode" 
                        (click)="deleteTodo(todo)"></i>
                </div>
            </div>
        </li>
    </ul>
    <new-todo *ngIf="newTodoMode"></new-todo>
</div>