<div class="container">
    <h5>Here are your todos...</h5>
    <ul class="collection z-depth-2">
        <li *ngFor="let todo of todos" class="collection-item" [class.bg-danger]="todo.completed">
            <b *ngIf="todo.editMode">Editing:</b>
            <span *ngIf="!todo.editMode" class="description">{{todo.description}}</span>
                <a 
                    class="secondary-content"
                    (click)="editMode(todo)" 
                    *ngIf="!todo.editMode">
                    <i class="material-icons">mode_edit</i>
                </a>
                <div 
                    class="edit-controls" 
                    [class.open]="todo.editMode"
                    [@editControlsState]="todo.editControlsState">
                    <input 
                    [(ngModel)]="todo.description"
                    type="text" 
                    *ngIf="todo.editMode" 
                    value="{{todo.description}}">
                    <a 
                        class="secondary-content"
                        *ngIf="todo.editMode" 
                        (click)="deleteTodo(todo)">    
                        <i class="material-icons red-text">delete</i>
                    </a>
                    <a 
                        class="secondary-content"
                        *ngIf="todo.editMode" 
                        (click)="updateTodo(todo)">
                        <i class="material-icons teal-text">thumb_up</i>
                    </a>
                </div>
            <!--<a 
                class="secondary-content"
                (click)="completeTodo(todo)"
                *ngIf="!todo.editMode">
                <i  class="fa fa-2x check" [class.fa-circle-thin]="!todo.completed" [class.fa-check-circle-o]="todo.completed"></i>
            </a>-->
        </li>
    </ul>
</div>