/* You can add global styles to this file, and also import other style files */
.loading-container{
    text-align: center;

    @media(max-width: 1023px){
        width: 98%;
    }

    .fa-spinner{
        font-size: 4.5em;
        margin-top: 50%;
    }
}